In [1]:
print("welcome")
def fun():
    print("this is fun")
class CustomerSupply:
    print("this is class")
print("thanks")

welcome
this is class
thanks

In [2]:
print("welcome")
class CustomerSupply:
    print("this is class")
    x=1000
    y=2000
    z=x+y
    def add(a,b):
        print(a,b)
print("thanks")

welcome
this is class
thanks

In [3]:
print("welcome")
class CustomerSupply:
    print("this is class")
    x=1000
    y=2000
    z=x+y
    def add(a,b):
        print(a,b)
print("thanks")
print(x)

welcome
this is class
thanks

NameError: name 'x' is not defined

In [4]:
print("welcome")
class CustomerSupply:
    print("this is class")
    x=1000
    y=2000
    z=x+y
    def add(a,b):
        print(a,b)
print("thanks")
print(CustomerSupply.x)
print(CustomerSupply.y)
print(CustomerSupply.z)
print(CustomerSupply.add(10,20))

welcome
this is class
thanks
1000
2000
3000
10 20
None

In [5]:
class Emp: # Emp is the reference of the class object
    company_name = "Khyaathi"
    company_addres="maithrivanam"
    def get(x):
        pass
jay=Emp() # jay is the reference of Emp data object. jay is an instance of Emp
jay.name="JAYARAM"
jay.age=23
jay.sal=34000
vedha = Emp() # vedha is the reference of Emp object. vedha is an instance of Emp
vedha.name="vedhanvesh"

print(jay.name,vedha.name)

JAYARAM vedhanvesh

In [6]:
class Emp: # Emp is the reference of the class object
    company_name = "Khyaathi"
    company_addres="maithrivanam"
    def get(x):
        pass
jay=Emp() # jay is the reference of Emp data object. jay is an instance of Emp
jay.name="JAYARAM"
jay.age=23
jay.sal=34000
vedha = Emp() # vedha is the reference of Emp object. vedha is an instance of Emp
vedha.name="vedhanvesh"

print(jay.name,vedha.name)
print(vedha.sal)

JAYARAM vedhanvesh

AttributeError: 'Emp' object has no attribute 'sal'

In [8]:
class Emp: 
    company_name = "Khyaathi"
    company_addres="maithrivanam"
    def get(x):
        pass
jay=Emp() 
jay.name="JAYARAM"
jay.age=23
jay.sal=34000
vedha = Emp() 
vedha.name="vedhanvesh"
print(vedha.company_name,jay.company_addres)

Khyaathi maithrivanam

In [9]:
class Emp: 
    company_name = "Khyaathi"
    company_addres="maithrivanam"
    def get(x):
        pass
jay=Emp() 
jay.name="JAYARAM"
jay.age=23
jay.sal=34000
vedha = Emp() 
vedha.name="vedhanvesh"
print(vedha.company_name,jay.company_addres)
print(Emp.name)

Khyaathi maithrivanam

AttributeError: type object 'Emp' has no attribute 'name'

In [10]:
class Emp: 
    company_name = "Khyaathi"
    company_addres="maithrivanam"
    def get(x):
        pass
jay=Emp() 
jay.name="JAYARAM"
jay.age=23
jay.sal=34000
vedha = Emp() 
vedha.name="vedhanvesh"
jay.name="jayaram"
print(jay.name)

jayaram

In [12]:
class Emp: 
    company_name = "Khyaathi"
    company_addres="maithrivanam"
    def get(x):
        pass
    def set_data(x,e_name,e_age=None,e_sal=None):
        x.name=e_name
        x.age=e_age
        x.sal=e_sal
jay=Emp() 
Emp.set_data(jay,"JAYARAM",23,34000)
'''
jay.name="JAYARAM"
jay.age=23
jay.sal=34000
'''
vedha = Emp() 
Emp.set_data(vedha,"vedhanvesh")
'''
vedha.name="vedhanvesh"
jay.name="jayaram"
print(jay.name)
'''
print(vedha.name,jay.name)

vedhanvesh JAYARAM

In [13]:
class Emp: 
    company_name = "Khyaathi"  # class object attributes
    company_addres="maithrivanam"
    def get(x):
        return x.name,x.age,x.sal
    def set_data(x,e_name,e_age=None,e_sal=None):
        x.name=e_name # data object attributes
        x.age=e_age
        x.sal=e_sal
jay=Emp() 
Emp.set_data(jay,"JAYARAM",23,34000)
vedha = Emp() 
Emp.set_data(vedha,"vedhanvesh")
print(Emp.get(jay))
print(Emp.get(vedha))

('JAYARAM', 23, 34000)
('vedhanvesh', None, None)

In [14]:
# define a car class mention some class object attributes and dataobject attributes. get and 
# set_data functions...

In [15]:
class Car:
    no_wheels=4
    def set_data(x,name,color,price):
        x.name=name
        x.color=color
        x.price=price
    def get(x):
        return x.name,x.color,x.price,x.no_wheels
car1 = Car()
Car.set_data(car1,"car1","RED",560000)
print(Car.get(car1))

('car1', 'RED', 560000, 4)

In [16]:
class Car:
    no_wheels=4
    def set_data(x,name,color,price):
        x.name=name
        x.color=color
        x.price=price
    def get(x):
        return x.name,x.color,x.price,x.no_wheels
car1 = Car()
Car.set_data(car1,"car1","RED",560000)
print(Car.get(car1))
car2=Car()
print(Car.get(car2))

('car1', 'RED', 560000, 4)

AttributeError: 'Car' object has no attribute 'name'

In [17]:
class Car:
    no_wheels=4
    def set_data(x,name,color,price):
        x.name=name
        x.color=color
        x.price=price
    def get(x):
        return x.name,x.color,x.price,x.no_wheels
car1 = Car()
#Car.set_data(car1,"car1","RED",560000)
car1.set_data("kwid","RED",560000)
#print(Car.get(car1))
print(car1.get())

('kwid', 'RED', 560000, 4)

In [18]:
class Car: # Car is a class object
    no_wheels=4
    def set_data(x,name,color,price):
        x.name=name
        x.color=color
        x.price=price
    def get(x):
        return x.name,x.color,x.price,x.no_wheels
car1 = Car() # car1 ref of the data object
car1.set_data("kwid","RED",560000) # Car.set_data(car1,"kwid","RED",560000)
print(car1.get())

('kwid', 'RED', 560000, 4)

In [20]:
class Product:
    def set_data(x,salesprice, costprice):
        x.sale=salesprice
        x.cost=costprice
    def profit(x):
        return x.sale - x.cost
mi=Product()
mi.set_data(6500,5500)
vivo=Product()
vivo.set_data(8900,8000)
print(mi.profit())
print(vivo.profit())

1000
900

In [27]:
# define a Emp class to calculate salary with 10% hike
class Emp:
    hike=10
    def set_data(x,e_id,sal):
        x.id=e_id
        x.sal=sal
    def sal_calc(x):
        return x.sal*(x.hike/100)+x.sal
jay=Emp()
jay.set_data("6973",34000)
print(jay.sal_calc())

37400.0

In [28]:
# define a Emp class to calculate salary with 10% hike
class Emp:
    hike=10
    def set_data(self,e_id,sal):
        self.id=e_id
        self.sal=sal
    def sal_calc(self):
        return self.sal*(self.hike/100)+self.sal
jay=Emp()
jay.set_data("6973",34000)
print(jay.sal_calc())

37400.0

In [29]:
# define a Emp class to calculate salary with 10% hike
class Emp:
    hike=10
    def set_data(self,e_id,sal):
        self.id=e_id
        self.sal=sal
    def sal_calc(self):
        return self.sal*(self.hike/100)+self.sal
jay=Emp()
jay.set_data("6973",34000)
print(jay.sal_calc())
vedha=Emp()
print(vedha.sal_calc())

37400.0

AttributeError: 'Emp' object has no attribute 'sal'

In [30]:
class c1:
    print("this is class")
    def get(self):
        print("this is get")

this is class

In [31]:
class c1:
    print("this is class")
    def get(self):
        print("this is get")
    def __init__(self):
        print("this is init")

this is class

In [32]:
class c1:
    print("this is class")
    def get(self):
        print("this is get")
    def __init__(self):
        print("this is init")
o1=c1()

this is class
this is init

In [33]:
class c1:
    print("this is class")
    def get(self):
        print("this is get")
    def __init__(self): # constructor
        print("this is init")
o1=c1()
o2=c1()
o3=c1()

this is class
this is init
this is init
this is init

In [35]:
class c1:
    print("this is class")
    def get(self):
        print("this is get")
    def __init__(self): # constructor
        print("this is init")
o1=c1()
o2=c1()
o3=c1()

this is class
this is init
this is init
this is init

In [36]:
class c1:
    print("this is class")
    def get(self):
        print("this is get")
    def __init__(self,x): # constructor
        print(x)
        print("this is init")
o1=c1(100)
o2=c1(10)
o3=c1()

this is class
100
this is init
10
this is init

TypeError: __init__() missing 1 required positional argument: 'x'

In [37]:
# define a Emp class to calculate salary with 10% hike
class Emp:
    hike=10
    def __init__(self,e_id,sal):
        self.id=e_id
        self.sal=sal
    def sal_calc(self):
        return self.sal*(self.hike/100)+self.sal
jay=Emp("6973",34000)
#jay.set_data("6973",34000)
print(jay.sal_calc())
vedha=Emp()
print(vedha.sal_calc())

37400.0

TypeError: __init__() missing 2 required positional arguments: 'e_id' and 'sal'

In [38]:
# define a Emp class to calculate salary with 10% hike
class Emp:
    hike=10
    def __init__(self,e_id,sal):
        self.id=e_id
        self.sal=sal
    def sal_calc(self):
        return self.sal*(self.hike/100)+self.sal
jay=Emp("6973",34000)
#jay.set_data("6973",34000)
print(jay.sal_calc())
vedha=Emp("6874",56000)
print(vedha.sal_calc())

37400.0
61600.0

In [39]:
# define a Emp class to calculate salary with 10% hike
class Emp:
    id=None
    hike=10
    sal=10000
    def __init__(self,*k):
        if len(k)==2:
            self.id,self.sal=k
        elif len(k)==1:
            self.id=k
    def sal_calc(self):
        return self.sal*(self.hike/100)+self.sal
jay=Emp("6973",34000)
#jay.set_data("6973",34000)
print(jay.sal_calc())
vedha=Emp("6874",56000)
print(vedha.sal_calc())

SyntaxError: invalid syntax (<ipython-input-39-6e09ad12e409>, line 3)

In [41]:
# define a Emp class to calculate salary with 10% hike
class Emp:
    hike=10
    def __init__(self,**k):
        self.context = k
    def sal_calc(self):
        if "sal" in self.context:
            emp_sal = self.context.get("sal")
            return emp_sal+emp_sal*(self.hike/1000)
        else:
            return 0
jay=Emp(e_id="6973",sal=34000)
#jay.set_data("6973",34000)
print(jay.sal_calc())
vedha=Emp(w_id="6874",sal=56000)
print(vedha.sal_calc())

34340.0
56560.0

In [42]:
# define a Emp class to calculate salary with 10% hike
class Emp:
    hike=10
    def __init__(self,**k):
        self.context = k
    def sal_calc(self):
        if "sal" in self.context:
            emp_sal = self.context.get("sal")
            return emp_sal+emp_sal*(self.hike/1000)
        else:
            return 0
jay=Emp(e_id="6973",sal=34000)
#jay.set_data("6973",34000)
print(jay.sal_calc())
vedha=Emp(w_id="6874",sal=56000)
print(vedha.sal_calc())
sai=Emp()
print(sai.sal_calc())

34340.0
56560.0
0

In [ ]:
# Redifie the Car class no_wheels as clas object attributes, color, cost, name as a data
# object attributes. Make sure that the data object attributes are initialized in the 
# constructor..

In [1]:
# define a Emp class to calculate salary with 10% hike
class Emp:
    def __init__(self,name,sal,hike):
        self.name=name
        self.sal=sal
        self.hike=hike
    def sal_calc(self):
            return self.sal+self.sal*(self.hike/100)
jay=Emp(name="6973",sal=34000,hike=10)
print(jay.sal_calc())
vedha=Emp(name="6874",sal=56000,hike=5)
print(vedha.sal_calc())

37400.0
58800.0

In [2]:
# define a Emp class to calculate salary with 10% hike
class Emp:
    def __init__(self,name,sal,hike):
        self.name=name
        self.sal=sal
        self.hike=hike
    def sal_calc(self):
        print(self.hike)
        return self.sal+self.sal*(self.hike/100)
jay=Emp(name="6973",sal=34000,hike=10)
print(jay.sal_calc())
vedha=Emp(name="6874",sal=56000,hike=5)
print(vedha.sal_calc())

10
37400.0
5
58800.0

In [6]:
# define a Emp class to calculate salary with 10% hike
class Emp:
    def __init__(self,name,sal,hike):
        self.name=name
        self.sal=sal
        self.hike=hike
    def sal_calc(self):
        print(self.hike)
        return self.sal+self.sal*(self.hike/100)
jay=Emp(name="6973",sal=34000,hike=10)
print(jay.sal_calc())
vedha=Emp(name="6874",sal=56000,hike=5)
if vedha.name=="6874":
    vedha.hike=50
print(vedha.sal_calc())

10
37400.0
50
84000.0

In [7]:
# define a Emp class to calculate salary with 10% hike
class Emp:
    def __init__(self,name,sal,hike):
        self.name=name
        self.sal=sal
        self.__hike=hike
    def sal_calc(self):
        print(self.__hike)
        return self.sal+self.sal*(self.__hike/100)
jay=Emp(name="6973",sal=34000,hike=10)
print(jay.sal_calc())
vedha=Emp(name="6874",sal=56000,hike=5)
if vedha.name=="6874":
    vedha.__hike=50
print(vedha.sal_calc())

10
37400.0
5
58800.0

In [8]:
# define a Emp class to calculate salary with 10% hike
class Emp:
    def __init__(self,name,sal,hike,role="emp"):
        self.name=name
        self.sal=sal
        self.__hike=hike
        self.role=role
    def sal_calc(self):
        print(self.__hike)
        return self.sal+self.sal*(self.__hike/100)
    def hikeupdate(self,new_hike):
        if self.role=="manager":
            self.__update_hike(new_hike)
        else:
            print("dont have permission")
    def __update_hike(self,new_hike):
        self.__hike=new_hike
jay=Emp(name="6973",sal=34000,hike=10)
jay.hikeupdate(15)
print(jay.sal_calc())
vedha=Emp(name="6874",sal=56000,hike=5,role="manager")
vedha.hikeupdate(15)
print(vedha.sal_calc())

dont have permission
10
37400.0
15
64400.0

In [9]:
class Emp:
    def __init__(self,name,sal,hike,role="emp"):
        self.name=name
        self.sal=sal
        self.__hike=hike
        self.role=role
    def sal_calc(self):
        print(self.__hike)
        return self.sal+self.sal*(self.__hike/100)
    def hikeupdate(self,new_hike):
        if self.role=="manager":
            self.__update_hike(new_hike)
        else:
            print("dont have permission")
    def __update_hike(self,new_hike):
        self.__hike=new_hike
jay=Emp(name="6973",sal=34000,hike=10)
jay.hikeupdate(15) # Emp.hikeupdate(jay,15)
print(jay.sal_calc())
vedha=Emp(name="6874",sal=56000,hike=5,role="manager")
vedha.hikeupdate(15)
print(vedha.sal_calc())
jay.__update_hike(15)

dont have permission
10
37400.0
15
64400.0

AttributeError: 'Emp' object has no attribute '__update_hike'

In [11]:
#encapsulation
class Emp:
    def __init__(self,name,sal,hike,role="emp"):
        self.name=name
        self.sal=sal
        self.__hike=hike
        self.role=role
    def sal_calc(self):
        print(self.__hike)
        return self.sal+self.sal*(self.__hike/100)
    def hikeupdate(jay,new_hike):
        if jay.role=="manager":
            jay.__update_hike(new_hike)
        else:
            print("dont have permission")
    def __update_hike(self,new_hike):
        self.__hike=new_hike
jay=Emp(name="6973",sal=34000,hike=10)
jay.hikeupdate(15) # Emp.hikeupdate(jay,15)
print(jay.sal_calc())
vedha=Emp(name="6874",sal=56000,hike=5,role="manager")
vedha.hikeupdate(15)
print(vedha.sal_calc())
#jay.__update_hike(15)

dont have permission
10
37400.0
15
64400.0

In [ ]:
class Emp:
    def __init__(self,name,sal):
        self.name=name
        self.sal=sal
jay=Emp(name="6973",sal=34000,hike=10)
vedha=Emp(name="6874",sal=56000,hike=5,role="manager")

In [13]:
a=1000
b=2000.23
l=[1,2,3,4]
l.append(50)
l

[1, 2, 3, 4, 50]

In [16]:
class Emp:
    def __init__(self,name,sal):
        self.name=name
        self.sal=sal
jay=Emp(name="6973",sal=34000)
vedha=Emp(name="6874",sal=56000)
print(type(jay))

<class '__main__.Emp'>

In [17]:
a=100
b=200
a+b

300

In [18]:
class Emp:
    def __init__(self,name,sal):
        self.name=name
        self.sal=sal
jay=Emp(name="6973",sal=34000)
vedha=Emp(name="6874",sal=56000)
jay+vedha

TypeError: unsupported operand type(s) for +: 'Emp' and 'Emp'

In [19]:
True+True

2

In [20]:
d1={1:2}
d2={2:3}
d1+d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [21]:
class Emp:
    def __init__(self,name,sal):
        self.name=name
        self.sal=sal
    def __add__(self1,self2):
        return 10
jay=Emp(name="6973",sal=34000)
vedha=Emp(name="6874",sal=56000)
jay+vedha

10

In [22]:
len("str")

3

In [23]:
len(10)

TypeError: object of type 'int' has no len()

In [24]:
class Emp:
    def __init__(self,name,sal):
        self.name=name
        self.sal=sal
    def __add__(self1,self2):
        return 10
jay=Emp(name="6973",sal=34000)
vedha=Emp(name="6874",sal=56000)
print(jay+vedha)
len(jay)

10

TypeError: object of type 'Emp' has no len()

In [26]:
class Emp:
    def __init__(self,name,sal):
        self.name=name
        self.sal=sal
    def __add__(self1,self2):
        return 10
    def __len__(self):
        return 3
jay=Emp(name="6973",sal=34000)
vedha=Emp(name="6874",sal=56000)
print(jay+vedha)
print(len(jay))

10
3

In [27]:
class Emp:
    def __init__(self,name,sal):
        self.name=name
        self.sal=sal
    def __add__(self1,self2):
        return (self1.__dict__,self2.__dict__)
    def __len__(self):
        return 3
jay=Emp(name="6973",sal=34000)
vedha=Emp(name="6874",sal=56000)
print(jay+vedha)
print(len(jay))

({'name': '6973', 'sal': 34000}, {'name': '6874', 'sal': 56000})
3

In [30]:
#operator overloading
class Emp:
    def __init__(self,name,sal,grades):
        self.name=name
        self.sal=sal
        self.grades=grades
    def __add__(self1,self2):
        return (self1.__dict__,self2.__dict__)
    def __len__(self):
        return len(self.__dict__)
    def __max__(self):
        print("hello")
        return max(self.grades)
    
jay=Emp(name="6973",sal=34000,grades=[1,2,3,4])
vedha=Emp(name="6874",sal=56000,grades=[5,6,7,8])
print(jay+vedha)
print(len(jay))
print(max(jay))

({'name': '6973', 'sal': 34000, 'grades': [1, 2, 3, 4]}, {'name': '6874', 'sal': 56000, 'grades': [5, 6, 7, 8]})
3

TypeError: 'Emp' object is not iterable

In [31]:
l=[1,2,3]

In [32]:
print(dir(l))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [33]:
#operator overloading
class Emp:
    def __init__(self,name,sal,grades):
        self.name=name
        self.sal=sal
        self.grades=grades
    def __add__(self1,self2):
        return (self1.__dict__,self2.__dict__)
    def __len__(self):
        return len(self.__dict__)
    def __max__(self):
        print("hello")
        return max(self.grades)
    
jay=Emp(name="6973",sal=34000,grades=[1,2,3,4])
vedha=Emp(name="6874",sal=56000,grades=[5,6,7,8])
print(jay+vedha)
print(len(jay))
for i in jay:
    print(i)

({'name': '6973', 'sal': 34000, 'grades': [1, 2, 3, 4]}, {'name': '6874', 'sal': 56000, 'grades': [5, 6, 7, 8]})
3

TypeError: 'Emp' object is not iterable

In [34]:
for i in 10:
    print(i)

TypeError: 'int' object is not iterable

In [35]:
#operator overloading
class Emp:
    def __init__(self,name,sal,grades):
        self.name=name
        self.sal=sal
        self.grades=grades
    def __add__(self1,self2):
        return (self1.__dict__,self2.__dict__)
    def __len__(self):
        return len(self.__dict__)
    def __iter__(self):
        yield 1
        yield 2
        yield 3
        yield 4
    
jay=Emp(name="6973",sal=34000,grades=[1,2,3,4])
vedha=Emp(name="6874",sal=56000,grades=[5,6,7,8])
print(jay+vedha)
print(len(jay))
for i in jay:
    print(i)

({'name': '6973', 'sal': 34000, 'grades': [1, 2, 3, 4]}, {'name': '6874', 'sal': 56000, 'grades': [5, 6, 7, 8]})
3
1
2
3
4

In [36]:
#operator overloading
class Emp:
    def __init__(self,name,sal,grades):
        self.name=name
        self.sal=sal
        self.grades=grades
    def __add__(self1,self2):
        return (self1.__dict__,self2.__dict__)
    def __len__(self):
        return len(self.__dict__)
    def __iter__(self):
        yield 1
        yield 2
        yield 3
        yield 4
    
jay=Emp(name="6973",sal=34000,grades=[1,2,3,4])
vedha=Emp(name="6874",sal=56000,grades=[5,6,7,8])
print(jay+vedha)
print(len(jay))
for i in jay:
    print(i)
print(max(jay))

({'name': '6973', 'sal': 34000, 'grades': [1, 2, 3, 4]}, {'name': '6874', 'sal': 56000, 'grades': [5, 6, 7, 8]})
3
1
2
3
4
4

In [38]:
#operator overloading
class Emp:
    def __init__(self,name,sal,grades):
        self.name=name
        self.sal=sal
        self.grades=grades
    def __add__(self1,self2):
        return (self1.__dict__,self2.__dict__)
    def __len__(self):
        return len(self.__dict__)
    def __iter__(self):
        for i in self.grades:
            yield i
    
jay=Emp(name="6973",sal=34000,grades=[10,12,13,40])
vedha=Emp(name="6874",sal=56000,grades=[5,6,7,8])
print(jay+vedha)
print(len(jay))
for i in jay:
    print(i)
print(max(jay))

({'name': '6973', 'sal': 34000, 'grades': [10, 12, 13, 40]}, {'name': '6874', 'sal': 56000, 'grades': [5, 6, 7, 8]})
3
10
12
13
40
40

In [39]:
l=["10","13","6","9","20","567"]
max(l)

'9'

In [40]:
l=["10","13","6","9","20","567"]
def fun(x):
    return int(x)
max(l,key=fun)

'567'

In [41]:
class c1:
    def op1(self):
        print("this is op1 in c1")
class c2:
    def op2(self):
        print("this is op2 in c2")
c1.op1(10)
c2.op2(20)

this is op1 in c1
this is op2 in c2

In [42]:
class c1:
    
    def op1(self):
        print("this is op1 in c1")
class c2:
    def op2(self):
        print("this is op2 in c2")
o1=c1()
o2=c2()
o1.op1()
o2.op2()

this is op1 in c1
this is op2 in c2

In [43]:
class c1:
    def __init__(self,a,b):
        self.a=a
        self.b=b
    def add(self):
        return self.a+self.b
class c2:
    def __init__(self,a,b):
        self.a=a
        self.b=b
    def sub(self):
        return self.a-self.b
o1=c1(10,20)
o2=c2(10,20)
print(o1.add())
print(o2.sub())

30
-10

In [44]:
class c1:
    def __init__(self,a,b):
        self.a=a
        self.b=b
    def add(self):
        return self.a+self.b
    def sub(self):
        return self.a-self.b
o1=c1(10,20)
print(o1.add())
print(o1.sub())

30
-10

In [45]:
d1={1:2,3:4}
d2={3:4,5:6}
d1+d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [46]:
class c1:
    def __init__(self,a,b):
        self.a=a
        self.b=b
    def add(self):
        return self.a+self.b
    def sub(self):
        return self.a-self.b
o1=c1(10,20)
print(o1.add())
print(o1.sub())
print(o1.mul())

30
-10

AttributeError: 'c1' object has no attribute 'mul'

In [47]:
# operations.py
class c1:
    def __init__(self,a,b):
        self.a=a
        self.b=b
    def add(self):
        return self.a+self.b
    def sub(self):
        return self.a-self.b
#app.py
# from operations import c1
o1=c1(10,20)
print(o1.add())
print(o1.sub())

30
-10

In [48]:
# operations.py v1.1   # v1.2 std,variance, matriix mult, vector
class c1:
    def __init__(self,a,b):
        self.a=a
        self.b=b
    def add(self):
        return self.a+self.b
    def sub(self):
        return self.a-self.b
    # own method
    def mul(self):
        return self.a*self.b
#app.py
# from operations import c1
o1=c1(10,20)
print(o1.add())
print(o1.sub())
print(o1.mul())

30
-10
200

In [49]:
# operations.py v1.1   # v1.2 std,variance, matriix mult, vector
class c1:
    def __init__(self,a,b):
        self.a=a
        self.b=b
    def add(self):
        return self.a+self.b
    def sub(self):
        return self.a-self.b
#myoperations.py
class myoperations:
    
    def mul(self):
        return self.a*self.b
#app.py
# from myoperations import myoperations
o1=myoperations(10,20)

TypeError: myoperations() takes no arguments

In [50]:
# operations.py v1.1   # v1.2 std,variance, matriix mult, vector
class c1:
    def __init__(self,a,b):
        self.a=a
        self.b=b
    def add(self):
        return self.a+self.b
    def sub(self):
        return self.a-self.b
#myoperations.py
class myoperations(c1):
    
    def mul(self):
        return self.a*self.b
#app.py
# from myoperations import myoperations
o1=myoperations(10,20)
print(o1.mul())

200

In [51]:
# operations.py v1.1   # v1.2 std,variance, matriix mult, vector
class c1:
    def __init__(self,a,b):
        self.a=a
        self.b=b
    def add(self):
        return self.a+self.b
    def sub(self):
        return self.a-self.b
    
#myoperations.py
class myoperations(c1):
    
    def mul(self):
        return self.a*self.b
#app.py
# from myoperations import myoperations
o1=myoperations(10,20)
print(o1.mul())
print(o1.add())

200
30

In [52]:
# dict
a=dict([(1,2),(3,4)])

In [53]:
a

{1: 2, 3: 4}

In [54]:
a=dict([(1,2),(3,4)])
b=dict([(1,2),(3,4)])
a+b

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [56]:
class OwnDict(dict):
    pass
a=OwnDict({"name":"anil","age":23})
b=OwnDict({"name":"jay","age":2.4})
a+b

TypeError: unsupported operand type(s) for +: 'OwnDict' and 'OwnDict'

In [57]:
class OwnDict(dict):
    pass
a=OwnDict({"name":"anil","age":23})
b=OwnDict({"name":"jay","age":2.4})
for i in a:
    print(i)

name
age

In [58]:
class OwnDict(dict):
    def __add__(self1,self2):
        
        self1.update(self2)
        return self1
a=OwnDict({"name":"anil","age":23})
b=OwnDict({"name":"jay","age":2.4})
print(a+b)

{'name': 'jay', 'age': 2.4}

In [59]:
class OwnDict(dict):
    def __add__(self1,self2):
        return (self1,self2)
a=OwnDict({"name":"anil","age":23})
b=OwnDict({"name":"jay","age":2.4})
print(a+b)

({'name': 'anil', 'age': 23}, {'name': 'jay', 'age': 2.4})

In [60]:
class OwnDict(dict):
    def __add__(self1,self2):
        return (self1,self2)
a=OwnDict({"name":"anil","age":23})
b=OwnDict({"name":"jay","age":2.4})
print(a+b)
for i in a:
    print(i)

({'name': 'anil', 'age': 23}, {'name': 'jay', 'age': 2.4})
name
age

In [61]:
class OwnDict(dict):
    def __add__(self1,self2):
        return (self1,self2)
a=OwnDict({"name":"anil","age":23})
b=OwnDict({"name":"jay","age":2.4})
print(a+b)
for i in a.items():
    print(i)

({'name': 'anil', 'age': 23}, {'name': 'jay', 'age': 2.4})
('name', 'anil')
('age', 23)

In [62]:
class OwnDict(dict):
    def __add__(self1,self2):
        return (self1,self2)
a=OwnDict({"name":"anil","age":23})
b=OwnDict({"name":"jay","age":2.4})
print(a+b)
for i in a:
    print(i)

({'name': 'anil', 'age': 23}, {'name': 'jay', 'age': 2.4})
name
age

In [63]:
class OwnDict(dict):
    def __add__(self1,self2):
        return (self1,self2)
    def __iter__(self):
        for i in self.items():
            yield i
a=OwnDict({"name":"anil","age":23})
b=OwnDict({"name":"jay","age":2.4})
print(a+b)
for i in a:
    print(i)

({'name': 'anil', 'age': 23}, {'name': 'jay', 'age': 2.4})
('name', 'anil')
('age', 23)

In [64]:
# django.py
class Model:
    def __init__(self,**data):
        self.data=data
    def insert(self):
        print("insert the data: ",self.data)

#app.py
# from django import Model
class Customer(Model):
    pass
jay=Customer(name="jay",age=2.3,address="ad1")
jay.insert()

insert the data:  {'name': 'jay', 'age': 2.3, 'address': 'ad1'}

In [65]:
# django.py
class Model:
    def __init__(self,**data):
        self.data=data
    def insert(self):
        print("insert the data: ",self.data)

#app.py
# from django import Model
class Customer(Model):
    pass
class Supplier(Model):
    pass
jay=Customer(name="jay",age=2.3,address="ad1")
jay.insert()
vedha = Supplier(name="vedhanvesh",address="ad2")
vedha.insert()

insert the data:  {'name': 'jay', 'age': 2.3, 'address': 'ad1'}
insert the data:  {'name': 'vedhanvesh', 'address': 'ad2'}

In [70]:
# django.py
class Model:
    def __init__(self,**data):
        self.data=data
    def insert(self):
        print("insert the data: ",self.data)

#app.py
# from django import Model
class Customer(Model):
    pass
class Supplier(Model):
    def validate(self):
        return self.data["name"].isalnum()
            
jay=Customer(name="jay",age=2.3,address="ad1")
jay.insert()
vedha = Supplier(name="vedhanvesh",address="ad2")
opt = vedha.validate()
if opt:
    vedha.insert()
else:
    print("not insert")

insert the data:  {'name': 'jay', 'age': 2.3, 'address': 'ad1'}
insert the data:  {'name': 'vedhanvesh', 'address': 'ad2'}

In [72]:
# django.py
class Model:
    def __init__(self,**data):
        self.data=data
    def insert(self):
        print("insert the data: ",self.data)

#app.py
# from django import Model
class Customer(Model):
    pass
class Supplier(Model):
    def validate(self):
        return self.data["name"].isalnum()
            
jay=Customer(name="jay",age=2.3,address="ad1")
jay.insert()
vedha = Supplier(name="vedhanvesh",address="ad2")
opt = vedha.validate()
if opt:
    vedha.insert()
else:
    print("not insert")
vedha1 = Supplier(name="vedhanvesh@#$",address="ad2")
opt = vedha1.validate()
if opt:
    vedha1.insert()
else:
    print("not insert")

insert the data:  {'name': 'jay', 'age': 2.3, 'address': 'ad1'}
insert the data:  {'name': 'vedhanvesh', 'address': 'ad2'}
not insert

In [74]:
# django.py
class Model:
    def __init__(self,**data):
        self.data=data
    def insert(self):
        print("insert the data: ",self.data)

#app.py
# from django import Model
class Customer(Model):
    pass
class Supplier(Model):
    def validate_insert(self):
        if self.data["name"].isalnum():
            vedha.insert()
        else:
            print("not insert")
            
jay=Customer(name="jay",age=2.3,address="ad1")
jay.insert()
vedha = Supplier(name="vedhanvesh",address="ad2")
vedha.validate_insert()
vedha1 = Supplier(name="vedhanvesh@#$",address="ad2")
vedha1.validate_insert()

insert the data:  {'name': 'jay', 'age': 2.3, 'address': 'ad1'}
insert the data:  {'name': 'vedhanvesh', 'address': 'ad2'}
not insert

In [75]:
# django.py
class Model:
    def __init__(self,**data):
        self.data=data
    def insert(self):
        print("insert the data: ",self.data)

#app.py
# from django import Model
class Customer(Model):
    pass
class Supplier(Model):
    def validate_insert(self):
        if self.data["name"].isalnum():
            vedha.insert()
        else:
            print("not insert")
            
jay=Customer(name="jay",age=2.3,address="ad1")
jay.insert()
vedha = Supplier(name="vedhanvesh",address="ad2")
vedha.validate_insert()
vedha1 = Supplier(name="vedhanvesh@#$",address="ad2")
vedha1.validate_insert()
new_sup = Supplier(name="sup1",address="ad1")
new_sup.insert()

insert the data:  {'name': 'jay', 'age': 2.3, 'address': 'ad1'}
insert the data:  {'name': 'vedhanvesh', 'address': 'ad2'}
not insert
insert the data:  {'name': 'sup1', 'address': 'ad1'}

In [76]:
# django.py
class Model:
    def __init__(self,**data):
        self.data=data
    def insert(self):
        print("insert the data: ",self.data)

#app.py
# from django import Model
class Customer(Model):
    pass
class Supplier(Model):
    def validate_insert(self):
        if self.data["name"].isalnum():
            vedha.insert()
        else:
            print("not insert")
            
jay=Customer(name="jay",age=2.3,address="ad1")
jay.insert()
vedha = Supplier(name="vedhanvesh",address="ad2")
vedha.validate_insert()
vedha1 = Supplier(name="vedhanvesh@#$",address="ad2")
vedha1.validate_insert()
new_sup = Supplier(name="sup1@#$",address="ad1")
new_sup.insert()

insert the data:  {'name': 'jay', 'age': 2.3, 'address': 'ad1'}
insert the data:  {'name': 'vedhanvesh', 'address': 'ad2'}
not insert
insert the data:  {'name': 'sup1@#$', 'address': 'ad1'}

In [77]:
# django.py
class Model:
    def __init__(self,**data):
        self.data=data
    def insert(self):
        print("insert the data: ",self.data)

#app.py
# from django import Model
class Customer(Model):
    pass
class Supplier(Model):
    def insert(self):
        if self.data["name"].isalnum():
            self.insert()
        else:
            print("not insert")
            
jay=Customer(name="jay",age=2.3,address="ad1")
jay.insert()
vedha = Supplier(name="vedhanvesh",address="ad2")
vedha.insert()

insert the data:  {'name': 'jay', 'age': 2.3, 'address': 'ad1'}

RecursionError: maximum recursion depth exceeded while calling a Python object

In [78]:
# method overriding...
# django.py
class Model:
    def __init__(self,**data):
        self.data=data
    def insert(self):
        print("insert the data: ",self.data)

#app.py
# from django import Model
class Customer(Model):
    pass
class Supplier(Model):
    def insert(self):
        if self.data["name"].isalnum():
            Model.insert(self)
        else:
            print("not insert")
            
jay=Customer(name="jay",age=2.3,address="ad1")
jay.insert()
vedha = Supplier(name="vedhanvesh",address="ad2")
vedha.insert()

insert the data:  {'name': 'jay', 'age': 2.3, 'address': 'ad1'}
insert the data:  {'name': 'vedhanvesh', 'address': 'ad2'}

In [80]:
def fun(x,y):
    return x+y
res=fun(10,20)
print(res)

30

In [81]:
def fun():
    print("st1")
    return 10
    print("st2")
    return 20
res=fun()
print(res)

st1
10

In [82]:
def fun():
    print("st1")
    yield 10
    print("st2")
    yield 20
res=fun()
print(res)

<generator object fun at 0x7fd10c1df228>

In [83]:
def fun():
    print("st1")
    yield 10
    print("st2")
    yield 20
res=fun()
print(res)
for i in res:
    print("iteration...")
    print(i)
print("thanks")

<generator object fun at 0x7fd10c1df390>
st1
iteration...
10
st2
iteration...
20
thanks

In [85]:
def fun():
    print("st1")
    yield 10
    print("st2")
    yield 20
res=fun()
print(res)
for i in res:
    print("iteration...")
    print(i)
print("thanks")
print("iterating second time")
for i in res:
    print("iteration...")
    print(i)

<generator object fun at 0x7fd10c1df138>
st1
iteration...
10
st2
iteration...
20
thanks
iterating second time

In [86]:
def fun():
    print("st1")
    yield 10
    print("st2")
    yield 20
for i in fun():
    print("iteration...")
    print(i)
print("thanks")

st1
iteration...
10
st2
iteration...
20
thanks

In [87]:
def fun():
    print("st1")
    yield 10
    print("st2")
    yield 20
for i in fun():
    print("iteration...")
    print(i)
print("thanks")
for i in fun():
    print("iteration...")
    print(i)

st1
iteration...
10
st2
iteration...
20
thanks
st1
iteration...
10
st2
iteration...
20