In [1]:
a=1000
b=2000
c=a
d=1000
s1="python"
s2="apple"
s3=s1
l=[10000,20000,"graph"]
k=l

In [2]:
a=1000
b=a
a=2000
print(b)

1000

In [3]:
s1="python"
s2="apple"
print(s2)

apple

In [4]:
s1="python"
s2="apple"
print(s2[0],s2[1])

a p

In [6]:
a=1000
print(a,type(a))
a=1.23
print(a,type(a))
a=1+2j
print(a,type(a))
a=True
print(a,type(a))
a=None
print(a,type(a))
a="python"
print(a,type(a))
a=[1,2,3,4]
print(a,type(a))
a=(1,2,3,4)
print(a,type(a))
a={1,2,3,4}
print(a,type(a))
a={1:2,3:4}
print(a,type(a))

1000 <class 'int'>
1.23 <class 'float'>
(1+2j) <class 'complex'>
True <class 'bool'>
None <class 'NoneType'>
python <class 'str'>
[1, 2, 3, 4] <class 'list'>
(1, 2, 3, 4) <class 'tuple'>
{1, 2, 3, 4} <class 'set'>
{1: 2, 3: 4} <class 'dict'>

In [8]:
a=10
b=5
#arithmatic: +,-,*,/,%,//,**
#boolean: >,<,>=,<=,==,!=,is, in, not
# bitwise: &, |, ^, >>,<<
print("a+b=",a+b)
print("a-b=",a-b)
print("a/b=",a/b)
print("a%b=",a%b)
print("a//b=",a//b)
print("a**b=",a**b)
print("a>b=",a>b)
print("a<b=",a<b)
print("a<=b",a<=b)
print("a>=b",a>=b)
print("a==b=",a==b)
print("a!=b=",a!=b)
print("a is b=",a is b)
#print("a not b=", a not b)
print("a in b=", a in b)

a+b= 15
a-b= 5
a/b= 2.0
a%b= 0
a//b= 2
a**b= 100000
a>b= True
a<b= False
a<=b False
a>=b True
a==b= False
a!=b= True
a is b= False

TypeError: argument of type 'int' is not iterable

In [9]:
10/3

3.3333333333333335

In [10]:
10//3

3

In [11]:
10%3

1

In [12]:
2**3

8

In [13]:
4**2

16

In [14]:
4**0.5

2.0

In [15]:
import math

In [16]:
math.sqrt(4)

2.0

In [17]:
a=True

In [18]:
a=true

NameError: name 'true' is not defined

In [19]:
a=10

In [20]:
a=python

NameError: name 'python' is not defined

In [21]:
a="python"

In [22]:
a=10

In [23]:
a=apple

NameError: name 'apple' is not defined

In [24]:
a=True

In [25]:
python = "is a good programing language"
b=python

In [26]:
b=False

In [27]:
c=None

In [28]:
max([1,2,3,4])

4

In [30]:
min([1,2,3,5])

1

In [31]:
sum([1,2,3,4])

10

In [32]:
a=20
b=40
print(a&b)

0

In [33]:
a=10
b=20
print(a+b)

30

In [34]:
a="10"
b="20"
print(a+b)

1020

In [35]:
a=10
b=20
a>b

False

In [36]:
a="apple"
b="ant"
a>b

True

In [37]:
a="ball"
b="apple"
a>b

True

In [38]:
# lexical comparison
# "200","5","6","78","345","100000"
a="apple"
print(type(a))

<class 'str'>

In [39]:
a="10"
print(type(a))

<class 'str'>

In [40]:
max(["200","5","6","78","345","100000"])

'78'

In [41]:
max([200,5,6,78,345,100000])

100000

In [42]:
"10">"5"

False

In [43]:
ord("1")

49

In [44]:
ord("5")

53

In [45]:
s="apple"
s1="apple"
s==s1

True

In [46]:
s="apple"
s1="apple1"
s==s1

False

In [47]:
#"apple", "ant","ape","age","bat"
s1="apple"
s2="appkm"
s1>s2

True

In [48]:
#"apple", "ant","ape","age","bat"
s1="apple"
s2="appkmasdfsdgfdh tyertgeryery"
s1>s2

True

In [49]:
[1,2,3]==[2,3,1]

False

In [50]:
{1,2,3} == {2,3,1}

True

In [51]:
10+20

30

In [52]:
"pytho" +"dsfs"

'pythodsfs'

In [53]:
10+"adsfdsa"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [54]:
10+2.3

12.3