In [1]:
a=1000
b=2000
c=a
d=1000
s1="python"
s2="apple"
s3=s1
l=[10000,20000,"graph"]
k=l

In [2]:
a=1000
b=a
a=2000
print(b)

1000

In [3]:
s1="python"
s2="apple"
print(s2)

apple

In [4]:
s1="python"
s2="apple"
print(s2[0],s2[1])

a p

In [6]:
a=1000
print(a,type(a))
a=1.23
print(a,type(a))
a=1+2j
print(a,type(a))
a=True
print(a,type(a))
a=None
print(a,type(a))
a="python"
print(a,type(a))
a=[1,2,3,4]
print(a,type(a))
a=(1,2,3,4)
print(a,type(a))
a={1,2,3,4}
print(a,type(a))
a={1:2,3:4}
print(a,type(a))

1000 <class 'int'>
1.23 <class 'float'>
(1+2j) <class 'complex'>
True <class 'bool'>
None <class 'NoneType'>
python <class 'str'>
[1, 2, 3, 4] <class 'list'>
(1, 2, 3, 4) <class 'tuple'>
{1, 2, 3, 4} <class 'set'>
{1: 2, 3: 4} <class 'dict'>

In [8]:
a=10
b=5
#arithmatic: +,-,*,/,%,//,**
#boolean: >,<,>=,<=,==,!=,is, in, not
# bitwise: &, |, ^, >>,<<
print("a+b=",a+b)
print("a-b=",a-b)
print("a/b=",a/b)
print("a%b=",a%b)
print("a//b=",a//b)
print("a**b=",a**b)
print("a>b=",a>b)
print("a<b=",a<b)
print("a<=b",a<=b)
print("a>=b",a>=b)
print("a==b=",a==b)
print("a!=b=",a!=b)
print("a is b=",a is b)
#print("a not b=", a not b)
print("a in b=", a in b)

a+b= 15
a-b= 5
a/b= 2.0
a%b= 0
a//b= 2
a**b= 100000
a>b= True
a<b= False
a<=b False
a>=b True
a==b= False
a!=b= True
a is b= False

TypeError: argument of type 'int' is not iterable

In [9]:
10/3

3.3333333333333335

In [10]:
10//3

3

In [11]:
10%3

1

In [12]:
2**3

8

In [13]:
4**2

16

In [14]:
4**0.5

2.0

In [15]:
import math

In [16]:
math.sqrt(4)

2.0

In [17]:
a=True

In [18]:
a=true

NameError: name 'true' is not defined

In [19]:
a=10

In [20]:
a=python

NameError: name 'python' is not defined

In [21]:
a="python"

In [22]:
a=10

In [23]:
a=apple

NameError: name 'apple' is not defined

In [24]:
a=True

In [25]:
python = "is a good programing language"
b=python

In [26]:
b=False

In [27]:
c=None

In [28]:
max([1,2,3,4])

4

In [30]:
min([1,2,3,5])

1

In [31]:
sum([1,2,3,4])

10

In [32]:
a=20
b=40
print(a&b)

0

In [33]:
a=10
b=20
print(a+b)

30

In [34]:
a="10"
b="20"
print(a+b)

1020

In [35]:
a=10
b=20
a>b

False

In [36]:
a="apple"
b="ant"
a>b

True

In [37]:
a="ball"
b="apple"
a>b

True

In [38]:
# lexical comparison
# "200","5","6","78","345","100000"
a="apple"
print(type(a))

<class 'str'>

In [39]:
a="10"
print(type(a))

<class 'str'>

In [40]:
max(["200","5","6","78","345","100000"])

'78'

In [41]:
max([200,5,6,78,345,100000])

100000

In [42]:
"10">"5"

False

In [43]:
ord("1")

49

In [44]:
ord("5")

53

In [45]:
s="apple"
s1="apple"
s==s1

True

In [46]:
s="apple"
s1="apple1"
s==s1

False

In [47]:
#"apple", "ant","ape","age","bat"
s1="apple"
s2="appkm"
s1>s2

True

In [48]:
#"apple", "ant","ape","age","bat"
s1="apple"
s2="appkmasdfsdgfdh tyertgeryery"
s1>s2

True

In [49]:
[1,2,3]==[2,3,1]

False

In [50]:
{1,2,3} == {2,3,1}

True

In [51]:
10+20

30

In [52]:
"pytho" +"dsfs"

'pythodsfs'

In [53]:
10+"adsfdsa"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [54]:
10+2.3

12.3

In [1]:
a=10
b=0b1010
c=0x174
d=0o257
print(a,b,c,d)
print(type(a),type(b),type(c),type(d))

10 10 372 175
<class 'int'> <class 'int'> <class 'int'> <class 'int'>

In [3]:
a=0x10
b=0o10
print(a,b)
print(a+b)

16 8
24

In [4]:
a=0x372
print(a)
print(2*16**0+7*16**1+3*16**2)

882
882

In [5]:
a=2345
print(bin(a))
print(hex(a))
print(oct(a))

0b100100101001
0x929
0o4451

In [6]:
a=0b1010
print(a)

10

In [7]:
globals()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  'a=10\nb=0b1010\nc=0x174\nd=0o257\nprint(a,b,c,d)\nprint(type(a),type(b),type(c),type(d))',
  'a=0x10\nb=0o10\nprint(a+b)',
  'a=0x10\nb=0o10\nprint(a,b)\nprint(a+b)',
  'a=0x372\nprint(a)\nprint(2*16**0+7*16**1+3*16**2)',
  'a=2345\nprint(bin(a))\nprint(hex(a))\nprint(oct(a))',
  'a=0b1010\nprint(a)',
  'globals()'],
 '_oh': {},
 '_dh': ['/home/khyaathipython/batch60'],
 'In': ['',
  'a=10\nb=0b1010\nc=0x174\nd=0o257\nprint(a,b,c,d)\nprint(type(a),type(b),type(c),type(d))',
  'a=0x10\nb=0o10\nprint(a+b)',
  'a=0x10\nb=0o10\nprint(a,b)\nprint(a+b)',
  'a=0x372\nprint(a)\nprint(2*16**0+7*16**1+3*16**2)',
  'a=2345\nprint(bin(a))\nprint(hex(a))\nprint(oct(a))',
  'a=0b1010\nprint(a)',
  'globals()'],
 'Out': {},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x7f838fb5c550>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x7f8388f377f0>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x7f8388f377f0>,
 '_': '',
 '__': '',
 '___': '',
 '_i': 'a=0b1010\nprint(a)',
 '_ii': 'a=2345\nprint(bin(a))\nprint(hex(a))\nprint(oct(a))',
 '_iii': 'a=0x372\nprint(a)\nprint(2*16**0+7*16**1+3*16**2)',
 '_i1': 'a=10\nb=0b1010\nc=0x174\nd=0o257\nprint(a,b,c,d)\nprint(type(a),type(b),type(c),type(d))',
 'a': 10,
 'b': 8,
 'c': 372,
 'd': 175,
 '_i2': 'a=0x10\nb=0o10\nprint(a+b)',
 '_i3': 'a=0x10\nb=0o10\nprint(a,b)\nprint(a+b)',
 '_i4': 'a=0x372\nprint(a)\nprint(2*16**0+7*16**1+3*16**2)',
 '_i5': 'a=2345\nprint(bin(a))\nprint(hex(a))\nprint(oct(a))',
 '_i6': 'a=0b1010\nprint(a)',
 '_i7': 'globals()'}

In [8]:
a=0b1100
print(a)

12

In [9]:
a=0b1100234
print(a)

SyntaxError: invalid syntax (<ipython-input-9-efdb484b2813>, line 1)

In [10]:
a=0o789

SyntaxError: invalid syntax (<ipython-input-10-da9d758fb215>, line 1)

In [11]:
a=0xabcdef

In [13]:
a=0xfghj

SyntaxError: invalid syntax (<ipython-input-13-5966775b1fae>, line 1)

In [14]:
a=10
bin(a)

'0b1010'

In [15]:
a=01234

SyntaxError: invalid token (<ipython-input-15-7f88b9549fa7>, line 1)

In [16]:
name="MI 6A"
# mobile name:MI 6A
print("mobile name:",name)

mobile name: MI 6A

In [19]:
name="MI 6A"
# mobile name:MI 6A
print("mobile name:"name)

SyntaxError: invalid syntax (<ipython-input-19-005b2150abf7>, line 3)

In [20]:
name="MI 6A"
# mobile name:MI 6A
print("mobile name:",name)

mobile name: MI 6A

In [21]:
name="MI 6A"
# mobile name:MI 6A
print("mobile name:%s",name)

mobile name:%s MI 6A

In [22]:
name="MI 6A"
# mobile name:MI 6A
print("mobile name:%s"%name)

mobile name:MI 6A

In [23]:
name="MI 6A"
cost=2345.6789
# mobile name:MI 6A
print("mobile name:%s,cost:%s"%(name,cost))

mobile name:MI 6A,cost:2345.6789

In [24]:
name="MI 6A"
cost=2345.6789
# mobile name:MI 6A
print("mobile name:%s,cost:%d"%(name,cost))

mobile name:MI 6A,cost:2345

In [25]:
name="MI 6A"
cost=2345.6789
model="5.o"
# mobile name:MI 6A
print("mobile name:%s,cost:%d, models:%s"%(name,cost,model))

mobile name:MI 6A,cost:2345, models:5.o

In [26]:
name="MI 6A"
cost=2345.6789
model="5.o"
# mobile name:MI 6A
print("mobile name:%s,cost:%f, models:%s"%(name,cost,model))

mobile name:MI 6A,cost:2345.678900, models:5.o

In [27]:
name="MI 6A"
cost=2345.6789
model="5.o"
# mobile name:MI 6A
print("mobile name:%s,cost:%.2f, models:%s"%(name,cost,model))

mobile name:MI 6A,cost:2345.68, models:5.o

In [28]:
name="VIVO v6"
model=5.2
discount=10
mrp=23456.236789
offer_price=22456.78543
specifiacation="RAM: 2GB, MEMORY: 126 GB"
#The mobile details= Name:VIVO v6, Model:5.2, Discount:10%, MRP:23456.24, OfferPrice:22456
print("The mobile details= Name:")

The mobile details= Name:

In [29]:
name="VIVO v6"
model=5.2
discount=10
mrp=23456.236789
offer_price=22456.78543
specifiacation="RAM: 2GB, MEMORY: 126 GB"
#The mobile details= Name:VIVO v6, Model:5.2, Discount:10%, MRP:23456.24, OfferPrice:22456
print("The mobile details= Name:%s"%name)

The mobile details= Name:VIVO v6

In [30]:
name="VIVO v6"
model=5.2
discount=10
mrp=23456.236789
offer_price=22456.78543
specifiacation="RAM: 2GB, MEMORY: 126 GB"
#The mobile details= Name:VIVO v6, Model:5.2, Discount:10%, MRP:23456.24, OfferPrice:22456
print("The mobile details= Name:",name)

The mobile details= Name: VIVO v6

In [31]:
name="VIVO v6"
model=5.2
discount=10
mrp=23456.236789
offer_price=22456.78543
specifiacation="RAM: 2GB, MEMORY: 126 GB"
#The mobile details= Name:VIVO v6, Model:5.2, Discount:10%, MRP:23456.24, OfferPrice:22456
print("The mobile details= Name:",name,sep="")

The mobile details= Name:VIVO v6

In [32]:
name="VIVO v6"
model=5.2
discount=10
mrp=23456.236789
offer_price=22456.78543
specifiacation="RAM: 2GB, MEMORY: 126 GB"
#The mobile details= Name:VIVO v6, Model:5.2, Discount:10%, MRP:23456.24, OfferPrice:22456
print("The mobile details= Name:",name,sep=";")

The mobile details= Name:;VIVO v6

In [33]:
name="VIVO v6"
model=5.2
discount=10
mrp=23456.236789
offer_price=22456.78543
specifiacation="RAM: 2GB, MEMORY: 126 GB"
#The mobile details= Name:VIVO v6, Model:5.2, Discount:10%, MRP:23456.24, OfferPrice:22456
print("The mobile details= Name:",name,sep="")

The mobile details= Name:VIVO v6

In [35]:
name="VIVO v6"
model=5.2
discount=10
mrp=23456.236789
offer_price=22456.78543
specifiacation="RAM: 2GB, MEMORY: 126 GB"
#The mobile details= Name:VIVO v6, Model:5.2, Discount:10%, MRP:23456.24, OfferPrice:22456
print("The mobile details= Name:%s, Model:%s, Discount:%s%, MRP:%.2f, OfferOrice:%d"%(name, model,discount,mrp,offer_price))

ValueError: unsupported format character ',' (0x2c) at index 51

In [36]:
name="VIVO v6"
model=5.2
discount=10
mrp=23456.236789
offer_price=22456.78543
specifiacation="RAM: 2GB, MEMORY: 126 GB"
#The mobile details= Name:VIVO v6, Model:5.2, Discount:10%, MRP:23456.24, OfferPrice:22456
print("The mobile details= Name:%s, Model:%s, Discount:%s%%, MRP:%.2f, OfferOrice:%d"%(name, model,discount,mrp,offer_price))

The mobile details= Name:VIVO v6, Model:5.2, Discount:10%, MRP:23456.24, OfferOrice:22456

In [37]:
name="VIVO v6"
model=5.2
discount=10
mrp=23456.236789
offer_price=22456.78543
specifiacation="RAM: 2GB, MEMORY: 126 GB"
#The mobile details= Name:VIVO v6, Model:5.2, Discount:10%, MRP:23456.24, OfferPrice:22456
print("The mobile details= Name:%s, Model:%s, Discount:%s%%, MRP:%.2f,
      OfferOrice:%d"%(name, model,discount,mrp,offer_price))

SyntaxError: EOL while scanning string literal (<ipython-input-37-6262054cca3e>, line 8)

In [40]:
name="VIVO v6"
model=5.2
discount=10
mrp=23456.236789
offer_price=22456.78543
specifiacation="RAM: 2GB, MEMORY: 126 GB"
#The mobile details= Name:VIVO v6, Model:5.2, Discount:10%, MRP:23456.24, OfferPrice:22456
print("The mobile details= Name:%s, Model:%s, Discount:%s%%, MRP:%.2f,\
 OfferOrice:%d"%(name, model,discount,mrp,offer_price))

The mobile details= Name:VIVO v6, Model:5.2, Discount:10%, MRP:23456.24, OfferOrice:22456

In [41]:
print("sdfsd")
print("sdfsdf")

sdfsd
sdfsdf

In [42]:
print("sdfsd")print("sdfsdf")

SyntaxError: invalid syntax (<ipython-input-42-ed1652d58c7b>, line 1)

In [43]:
print("sdfsd");print("sdfsdf")

sdfsd
sdfsdf

In [44]:
name="VIVO v6"
model=5.2
discount=10
mrp=23456.236789
offer_price=22456.78543
specifiacation="RAM: 2GB, MEMORY: 126 GB"
#The mobile details= Name:VIVO v6, Model:5.2, Discount:10%, MRP:23456.24, OfferPrice:22456
print("Name:%s, Model:%s, Discount:%s%%, MRP:%.2f,OfferOrice:%d"%(name, model,discount,mrp,offer_price))

Name:VIVO v6, Model:5.2, Discount:10%, MRP:23456.24,OfferOrice:22456

In [45]:
name="VIVO v6"
model=5.2
discount=10
mrp=23456.236789
offer_price=22456.78543
specifiacation="RAM: 2GB, MEMORY: 126 GB"
#The mobile details= Name:VIVO v6, Model:5.2, Discount:10%, MRP:23456.24, OfferPrice:22456
print("Name:%s,\nModel:%s,\nDiscount:%s%%,\nMRP:%.2f,\nOfferOrice:%d"%(name, model,discount,mrp,offer_price))

Name:VIVO v6,
Model:5.2,
Discount:10%,
MRP:23456.24,
OfferOrice:22456

In [47]:
print("\n")

In [48]:
print("\\n")

\n

In [49]:
name="VIVO v6"
model=5.2
discount=10
mrp=23456.236789
offer_price=22456.78543
specifiacation="RAM: 2GB, MEMORY: 126 GB"
#The mobile details= Name:VIVO v6, Model:5.2, Discount:10%, MRP:23456.24, OfferPrice:22456
print(r"Name:%s,\nModel:%s,\nDiscount:%s%%,\nMRP:%.2f,\nOfferOrice:%d"%(name, model,discount,mrp,offer_price))

Name:VIVO v6,\nModel:5.2,\nDiscount:10%,\nMRP:23456.24,\nOfferOrice:22456

In [50]:
name="VIVO v6"
model=5.2
discount=10
mrp=23456.236789
offer_price=22456.78543
specifiacation="RAM: 2GB, MEMORY: 126 GB"
#The mobile details= Name:VIVO v6, Model:5.2, Discount:10%, MRP:23456.24, OfferPrice:22456
print("Name:%s,\nModel:%s,\nDiscount:%s%%,\nMRP:%.2f,\nOfferOrice:%d"%(name, model,discount,mrp,offer_price))

Name:VIVO v6,
Model:5.2,
Discount:10%,
MRP:23456.24,
OfferOrice:22456

In [51]:
name="VIVO v6"
model=5.2
discount=10
mrp=23456.236789
offer_price=22456.78543
specifiacation="RAM: 2GB, MEMORY: 126 GB"
#The mobile details= Name:VIVO v6, Model:5.2, Discount:10%, MRP:23456.24, OfferPrice:22456
print("Name:%s,\\nModel:%s,\\nDiscount:%s%%,\\nMRP:%.2f,\\nOfferOrice:%d"%(name, model,discount,mrp,offer_price))

Name:VIVO v6,\nModel:5.2,\nDiscount:10%,\nMRP:23456.24,\nOfferOrice:22456

In [52]:
name="VIVO v6"
model=5.2
discount=10
mrp=23456.236789
offer_price=22456.78543
specifiacation="RAM: 2GB, MEMORY: 126 GB"
#The mobile details= Name:VIVO v6, Model:5.2, Discount:10%, MRP:23456.24, OfferPrice:22456
print(r"Name:%s,\nModel:%s,\nDiscount:%s%%,\nMRP:%.2f,\nOfferOrice:%d"%(name, model,discount,mrp,offer_price))

Name:VIVO v6,\nModel:5.2,\nDiscount:10%,\nMRP:23456.24,\nOfferOrice:22456

In [53]:
print("%o"%1234)

2322

In [54]:
print("%x"%1234)

4d2

In [55]:
s="python \n java \t closure\n php\nruby"
print(s)

python
 java 	 closure
 php
ruby

In [56]:
s=r"python \n java \t closure\n php\nruby"
print(s)

python \n java \t closure\n php\nruby

In [58]:
k="python \n java \t closure\n php\nruby"
print("%r"%k)

'python \n java \t closure\n php\nruby'

In [59]:
k="python \n java \t closure\n php\nruby"
print("%s"%k)

python
 java 	 closure
 php
ruby

In [60]:
a=100
b=200
a+b

300

In [61]:
a=input("Enter a value:")
print(a, type(a))

Enter a value:10
10 <class 'str'>

In [62]:
a=input("Enter a value:")
print(a, type(a))

Enter a value:12.34
12.34 <class 'str'>

In [63]:
a=input("Enter a value:")
print(a, type(a))

Enter a value:1+2j
1+2j <class 'str'>

In [64]:
a=input("Enter a value:")
print(a, type(a))

Enter a value:[1,2,3,4]
[1,2,3,4] <class 'str'>

In [65]:
a=input("Enter a value:")
b=input("Enter b value:")
print(a+b)

Enter a value:10
Enter b value:20
1020

In [66]:
a="10"
print(a, type(a))

10 <class 'str'>

In [67]:
a="10"
print(a, type(a))
b=int(a)
print(b, type(b))

10 <class 'str'>
10 <class 'int'>

In [68]:
a="10"
print(a, type(a))
b=int(a)
print(b, type(b))
c=float(a)
print(c, type(c))

10 <class 'str'>
10 <class 'int'>
10.0 <class 'float'>

In [70]:
a=input("Enter a value:")
b=input("Enter b value:")
af = float(a)
bf = float(b)
print(af+bf)

Enter a value:12
Enter b value:56
68.0

In [1]:
a="12"
b=int(a)
print(b, type(b))

12 <class 'int'>

In [2]:
a="12.35"
b=int(a)
print(b, type(b))

ValueError: invalid literal for int() with base 10: '12.35'

In [3]:
a=12.35
b=int(a)
print(b, type(b))

12 <class 'int'>

In [4]:
a="12.34"
o=int(a)

ValueError: invalid literal for int() with base 10: '12.34'

In [5]:
a="12.34"
b=float(a)
print(b, type(b))

12.34 <class 'float'>

In [6]:
a="12.34"
b=float(a)
print(b, type(b))
c=int(b)
print(c, type(c))

12.34 <class 'float'>
12 <class 'int'>

In [8]:
a="12"
print(2*10**0+1*10**1)

12

In [9]:
a="12.35"
print(int(a))

ValueError: invalid literal for int() with base 10: '12.35'

In [10]:
a="1235a"
print(int(a))

ValueError: invalid literal for int() with base 10: '1235a'

In [11]:
a="1235a"
print(10*16**0+5*16**1+3*16**2+2*16**3+1*16**4)
int(a,16)

74586

74586

In [12]:
a="1235a"
print(10*16**0+5*16**1+3*16**2+2*16**3+1*16**4)
b=int(a,16)
print(bin(b))

74586
0b10010001101011010

In [13]:
# boolean operations
a=True

In [14]:
type(a)

bool

In [15]:
a=10
print(bool(a))

True

In [16]:
a=0
print(bool(a))

False

In [17]:
a=-10
print(bool(a))

True

In [18]:
bool("python")

True

In [19]:
bool("")

False

In [20]:
bool([])

False

In [21]:
bool([1,2,3,4])

True

In [22]:
bool({})

False

In [23]:
bool({1,2,3,4})

True

In [24]:
bool([0])

True

In [25]:
bool(0)

False

In [26]:
bool(0.0)

False

In [27]:
bool(0.1)

True

In [28]:
bool(10)

True

In [29]:
bool(-10)

True

In [30]:
bool({1:2,3:4})

True

In [31]:
bool({})

False

In [32]:
bool(None)

False

In [33]:
a=10
b=20
print(a&b)

0

In [34]:
print(a|b)

30

In [35]:
a=10
b=20
print(bin(a))
print(bin(b))
print(a&b)

0b1010
0b10100
0

In [36]:
a=10
b=20
print(bin(a))
print(bin(b))
print(a|b)

0b1010
0b10100
30

In [37]:
a=10.23
b=34.56
print(a&b)

TypeError: unsupported operand type(s) for &: 'float' and 'float'

In [38]:
l=[10,20,30,40]
max(l)

40

In [39]:
a=10
b=20
a>b

False

In [40]:
a=10
b="20"
a>b

TypeError: '>' not supported between instances of 'int' and 'str'

In [41]:
l=[10,20,30,40,"23"]
max(l)

TypeError: '>' not supported between instances of 'str' and 'int'

In [42]:
# check the list comparison and find the logic of list comparison
k=[1,2,3,4]
m=[3,4,5,6]
k>m

False

In [43]:
# check the list comparison and find the logic of list comparison
k=[1,2,3,4]
m=[3,-4,-5,-6]
k>m

False

In [44]:
# check the list comparison and find the logic of list comparison
k=[1,2,3,4]
m=[1,-4,-5,-6]
k>m

True

In [45]:
k=[1,2,3]
l=[3,1,2]
k==l

False

In [46]:
a=[1,2,3,4]
b=[1,2,3,4,5]
a==b

False

In [47]:
a=[1,2,3,4]
b=[1,2,3,4,5]
a>b

False

In [49]:
None>5

TypeError: '>' not supported between instances of 'NoneType' and 'int'

In [50]:
a=[1,2,3,4,5]
b=[1,2,3,4]
a>b

True

In [51]:
a=[-1,2,3,4,5]
b=[1,2,3,4]
a>b

False

In [52]:
a=[-1,2,3,4,5]
b=[1,2,3,4]
a>=b

False

In [53]:
# expression evaluation
a=10
b=20
# a+b whole square value
print(a**2+b**2+2*a*b)

900

In [54]:
# expression evaluation
a=10
b=20
# a+b whole square value
print(a**2+b**2+2*a*b)
print(a+b**2)

900
410

In [55]:
# operator precedency
10+20/5*6

34.0

In [56]:
# operator precedency
(10+20)/5*6

36.0

In [57]:
2000/20/2

50.0

In [ ]:
'''
Take the input from the user for(Total number of people,Number of seats for bus). Based on two inputs
Decide how many number of buses required
'''
n_people = input("Enter number of people:")
n_seats = input("Enter number of seats for bus:")
print(n_people/n_seats)

In [58]:
n_people = input("Enter number of people:")
print(n_people,type(n_people))

Enter number of people:10
10 <class 'str'>

In [59]:
a="250"
b="50"
a/b

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [60]:
a="250"
b="50"
a=int(a)
b=int(b)
a/b

5.0

In [61]:
'''
Take the input from the user for(Total number of people,Number of seats for bus). Based on two inputs
Decide how many number of buses required
'''
n_people = input("Enter number of people:")
n_seats = input("Enter number of seats for bus:")
n_people = int(n_people)
n_seats = int(n_seats)
print(n_people/n_seats)

Enter number of people:250
Enter number of seats for bus:50
5.0

In [62]:
'''
Take the input from the user for(Total number of people,Number of seats for bus). Based on two inputs
Decide how many number of buses required
'''
n_people = input("Enter number of people:")
n_seats = input("Enter number of seats for bus:")
n_people = int(n_people)
n_seats = int(n_seats)
print(n_people/n_seats)

Enter number of people:255
Enter number of seats for bus:50
5.1

In [63]:
'''
Take the input from the user for(Total number of people,Number of seats for bus). Based on two inputs
Decide how many number of buses required
'''
n_people = input("Enter number of people:")
n_seats = input("Enter number of seats for bus:")
adj = input("how many people adjust for bus:")
n_people = int(n_people)
n_seats = int(n_seats)
adj= int(adj)
print(n_people/adj)

Enter number of people:255
Enter number of seats for bus:50
how many people adjust for bus:51
5.0

In [64]:
'''
Take the input from the user for(Total number of people,Number of seats for bus). Based on two inputs
Decide how many number of buses required
'''
n_people = input("Enter number of people:")
n_seats = input("Enter number of seats for bus:")
adj = input("how many people adjust for bus:")
n_people = int(n_people)
n_seats = int(n_seats)
adj= int(adj)
print(n_people/adj)
print(n_people//adj)

Enter number of people:257
Enter number of seats for bus:50
how many people adjust for bus:51
5.03921568627451
5

In [65]:
'''
Take the input from the user for(Total number of people,Number of seats for bus). Based on two inputs
Decide how many number of buses required
'''
n_people = input("Enter number of people:")
n_seats = input("Enter number of seats for bus:")
adj = input("how many people adjust for bus:")
n_people = int(n_people)
n_seats = int(n_seats)
adj= int(adj)
float_value = n_people/adj
int_value = n_people//adj
n_people-int_value*adj

Enter number of people:257
Enter number of seats for bus:50
how many people adjust for bus:51

2