In [1]:
print("hello")

hello

In [3]:
a=1000
b=2000
c=a+b
print("result=",c)

result= 3000

In [4]:
a=1000
b=a
c="python"
d=1000
e="apple"
f=[1000,c,"orange"]

In [5]:
a=1000
b=a
print(a,b)

1000 1000

In [6]:
a=1000
b=a
print(a,b)
a=5000
print(a,b)

1000 1000
5000 1000

In [7]:
name="MI 6A"
costprice=6700.2346
discount=56.7890
# Name:MI 6A, COST:6700.23, Discount:56
print("Name:",name)

Name: MI 6A

In [8]:
name="MI 6A"
costprice=6700.2346
discount=56.7890
# Name:MI 6A, COST:6700.23, Discount:56
print("Name:name")

Name:name

In [9]:
name="MI 6A"
costprice=6700.2346
discount=56.7890
# Name:MI 6A, COST:6700.23, Discount:56
print(f"Name:{name}")

Name:MI 6A

In [10]:
name="MI 6A"
costprice=6700.2346
discount=56.7890
# Name:MI 6A, COST:6700.23, Discount:56
print(f"Name:{name}, COST:{costprice}, Discount:{discount}")

Name:MI 6A, COST:6700.2346, Discount:56.789

In [11]:
name="MI 6A"
costprice=6700.2346
discount=56.7890
# Name:MI 6A, COST:6700.23, Discount:56
print(f"Name:{name}, COST:{costprice:.2f}, Discount:{discount}")

Name:MI 6A, COST:6700.23, Discount:56.789

In [12]:
name="MI 6A"
costprice=6700.2346
discount=56.7890
# Name:MI 6A, COST:6700.23, Discount:56
print(f"Name:{name}, COST:{costprice:.2f}, Discount:{discount:d}")

ValueError: Unknown format code 'd' for object of type 'float'

In [13]:
name="MI 6A"
costprice=6700.2346
discount=56.7890
# Name:MI 6A, COST:6700.23, Discount:56
print(f"Name:{name}, COST:{costprice:.2f}, Discount:{int(discount)}")

Name:MI 6A, COST:6700.23, Discount:56

In [16]:
discount=56.7890
int(discount)

56

In [17]:
name="MI 6A"
costprice=6700.2346
discount=56.7890
# Name:MI 6A, COST:6700.23, Discount:56
print(f"Name:{name}, COST:{costprice:.2f}, Discount:{int(discount)}")
print("Name:%s",name)

Name:MI 6A, COST:6700.23, Discount:56
Name:%s MI 6A

In [18]:
name="MI 6A"
costprice=6700.2346
discount=56.7890
# Name:MI 6A, COST:6700.23, Discount:56
print(f"Name:{name}, COST:{costprice:.2f}, Discount:{int(discount)}")
print("Name:%s"%name)

Name:MI 6A, COST:6700.23, Discount:56
Name:MI 6A

In [19]:
name="MI 6A"
costprice=6700.2346
discount=56.7890
# Name:MI 6A, COST:6700.23, Discount:56
print(f"Name:{name}, COST:{costprice:.2f}, Discount:{int(discount)}")
print("Name:%s, COST:%s"%(name,costprice))

Name:MI 6A, COST:6700.23, Discount:56
Name:MI 6A, COST:6700.2346

In [20]:
name="MI 6A"
costprice=6700.2346
discount=56.7890
# Name:MI 6A, COST:6700.23, Discount:56
print(f"Name:{name}, COST:{costprice:.2f}, Discount:{int(discount)}")
print("Name:%s, COST:%f"%(name,costprice))

Name:MI 6A, COST:6700.23, Discount:56
Name:MI 6A, COST:6700.234600

In [21]:
name="MI 6A"
costprice=6700.2346
discount=56.7890
# Name:MI 6A, COST:6700.23, Discount:56
print(f"Name:{name}, COST:{costprice:.2f}, Discount:{int(discount)}")
print("Name:%s, COST:%.2f"%(name,costprice))

Name:MI 6A, COST:6700.23, Discount:56
Name:MI 6A, COST:6700.23

In [24]:
name="MI 6A"
costprice=6700.2346
discount=56.7890
# Name:MI 6A, COST:6700.23, Discount:56
print(f"Name:{name}, COST:{costprice:.2f}, Discount:{int(discount)}")
print("Name:%s, COST:%.2f, Discount:%d"%(name,costprice,discount))

Name:MI 6A, COST:6700.23, Discount:56
Name:MI 6A, COST:6700.23, Discount:56

In [25]:
a=100
b=200
a>b

False

In [27]:
a="6"
b="20"
a<b

False

In [28]:
# lexical comparison.

In [29]:
a=input("enter a value:")
print(a, type(a))

enter a value:python
python <class 'str'>

In [30]:
a=input("enter a value:")
print(a, type(a))

enter a value:100
100 <class 'str'>

In [31]:
a=input("enter a value:")
print(a, type(a))

enter a value:1=2j
1=2j <class 'str'>

In [32]:
a=input("enter a value:")
print(a, type(a))

enter a value:1+2j
1+2j <class 'str'>

In [33]:
s="1+2j"
print(s, type(s))

1+2j <class 'str'>

In [34]:
a=1.23
print(a, type(a))
a="1.23"
print(a, type(a))

1.23 <class 'float'>
1.23 <class 'str'>

In [35]:
a=input("enter a value:")
b=input("enter b value:")
print(a+b)

enter a value:10
enter b value:20
1020

In [36]:
"10"+"20"

'1020'

In [37]:
a=input("enter a value:")
b=input("enter b value:")
a=float(a)
b=float(b)
print(a+b)

enter a value:10
enter b value:20
30.0

In [38]:
10.0+20.0

30.0

In [39]:
print("welcome")
a=input("enter a value:")
b=input("Enter b value:")
a=float(a)
b=float(b)
print("a is big")
print("b is big")
print("thanks")

welcome
enter a value:12
Enter b value:34
a is big
b is big
thanks

In [40]:
print("welcome")
a=input("enter a value:")
b=input("Enter b value:")
a=float(a)
b=float(b)
print(a>b)
if a>b:
    print("a is big")
print("b is big")
print("thanks")

welcome
enter a value:20
Enter b value:30
False
b is big
thanks

In [41]:
print("welcome")
a=input("enter a value:")
b=input("Enter b value:")
a=float(a)
b=float(b)
print(a>b)
if a>b:
    print("a is big")
print("b is big")
print("thanks")

welcome
enter a value:200
Enter b value:30
True
a is big
b is big
thanks

In [42]:
print("welcome")
a=input("enter a value:")
b=input("Enter b value:")
a=float(a)
b=float(b)
print(a>b)
if a>b:
    print("a is big")
else:
    print("b is big")
print("thanks")

welcome
enter a value:12
Enter b value:34
False
b is big
thanks

In [43]:
print("welcome")
a=input("enter a value:")
b=input("Enter b value:")
a=float(a)
b=float(b)
print(a>b)
if a>b:
    print("a is big")
else:
    print("b is big")
print("thanks")

welcome
enter a value:20
Enter b value:2
True
a is big
thanks

In [44]:
print("welcome")
a=input("enter a value:")
b=input("Enter b value:")
a=float(a)
b=float(b)
print(a>b)
if a>b:
    print("b is big")
else:
    print("a is big")
print("thanks")

welcome
enter a value:12
Enter b value:34
False
a is big
thanks

In [45]:
a=1000
a=2000
print(a)

2000

In [46]:
a=1000
if True:
    a=2000
print(a)

2000

In [48]:
a=1000
if False:
    a=2000
print(a)

1000